---
layout: core
title:  Cabinet Office Digital Handbook
---

<% content_for :sidebar do %>
<ul>
    <li><a href='#co-digital-handbook'> Cabinet Office Digital Handbook</a></li>
    <li><a href="#principles">Principles</a><%= partial 'partials/nav-principles' %></li>
    <li><a href="#strategies">Strategies</a><%= partial 'partials/nav-strategies' %></li>
    <li><a href="#guidance">Guidance</a><%= partial 'partials/nav-guidance' %></li>
    <li><a href="#regulations-and-policies">Regulation and Policies</a><%= partial 'partials/nav-policies' %></li>
    <li><a href="#blueprints-and-patterns">Blueprints and Patterns</a><%= partial 'partials/nav-guidance' %></li>
</ul>
<% end %>

<%= partial 'partials/site-banner' %>

# <%= current_page.data.title %>

Welcome to the CO Digital Handbook, your comprehensive guide to understanding and implementing digital the Cabinet Office way through out set of policies, standards, principles, strategies, guidance, and blueprints.

This handbook serves as the foundation of our digital transformation efforts, ensuring that we approach our digital initiatives with clarity, consistency, and a shared vision.

## Purpose
The CO Digital Handbook is designed to:

* Provide clear and actionable guidance on our digital practices.
* Ensure consistency and alignment across all digital projects.
* Foster a culture of transparency, innovation, and inclusivity.
* Support our mission to deliver efficient, effective, and user-centric digital services.

The CO Digital Handbook embodies our commitment to excellence and our dedication to providing good digital services to the Cabinet Office.

Let’s embrace digital transformation together!

## Type of Governance Artefacts

| Artefact | Definition | Purpose | Adherence |
| ---------- | ----------------------------- | ----------------------------- |-------- |
| Regulation | A rule or directive made and maintained by an authority.|To ensure compliance with laws, protect public welfare, maintain standards, and ensure fairness.| Mandatory|
| Policy | A formal statement outlining intentions and direction of an organisation.|To provide a framework for decision-making and establish overall principles and guidelines to follow.|Mandatory|
| Standard | Specific, detailed rules that must be followed to comply with a policy. | To ensure consistency and quality across various processes and activities within an organisation. | Mandatory|
| Strategy | A plan of action designed to achieve a specific goal or set of goals. | To provide clear direction and actionable steps to reach desired outcomes, guide decision-making, and align efforts. | Mandatory |
| Principle | A fundamental truth or proposition serving as the foundation for a system. | To shape the values and culture of an organisation and inform the development of policies and standards. | Advisory |
| Guidance | Advice, recommendations, or best practices to aid implementation. | To support the application of policies and standards, clarify expectations, and provide practical instructions. | Recommended |
| Blueprint & patterns | Comprehensive documents or diagrams outlining the architecture of digital systems. | To provide a clear and structured framework for building and managing digital systems, ensuring alignment with business objectives and technical requirements. | Recommended |


## How to add a page to Digital Handbook
### Submission template

When you create a new Markdown file follow this pattern and then make a pull request:

```markdown
---
title: Thing you're writing a standard about
last_reviewed_on: yyyy-mm-dd
review_in: 6 months
---

# <%%= current_page.data.title %>

Introduction of a couple of paragraphs to explain why the thing you're
writing a standard about is important.

## User needs

Why do we do this thing? Who is it helping?

## Principles

What broad approaches do we follow when we do this thing?

## Tools

What specific bits of software (commercial or open source) do
we use to help us do this thing?
```



## Principles

Principles are fundamental truths or propositions serving as the foundation for a system.  They are used to shape the values and culture of an organisation and inform the development of policies and standards. Principles are advisory in nature.


List of principles the Cabinet Office developed and adopted:

<%= partial 'partials/nav-principles' %>

## Strategies
Strategies are plans of action designed to achieve a specific goal or set of goals. They are to provide clear direction and actionable steps to reach desired outcomes, guide decision-making and align efforts. Strategies are <main>

</main>andatory are mandatory to follow.

List of strategies we developed and adopted:
<%= partial 'partials/nav-strategies' %>

## Regulations and Policies
Policies are formal statement outlining intentions and direction of an organisation. They are to provide a framework for decision-making and establish overall principles and guidelines to follow. All policies and regulations are mandatory to follow.


List of regulations and policies the Cabinet Office developed and adopted:
<%= partial 'partials/nav-policies' %>

## Guidance
Guidance are advice, recommendations, or best practices to aid implementation. They are to support the application of policies and standards, clarify expectations, and provide practical instructions.Guidance are recommended to follow.

List of guidances the Cabinet Office use for Digital:
<%= partial 'partials/nav-blueprints' %>

## Blueprints and Patterns
Blueprints and Patterns are comprehensive documents or diagrams outlining the architecture of digital systems. They are to provide a clear and structured framework for building and managing digital systems, ensuring alignment with business objectives and technical requirements. Blueprints are patterns are recommended as a starting point for architectural design.
